html {
  display: flex;
  height: 100%;
}

body {
  display: flex;
  background: hsl(0, 100%, 100%);
  color: hsl(10, 81%, 26%);

  font-size: 13.5px;
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
}

.card {
  background: hsl(38, 89%, 93%);
  padding: 0.6em;

  box-sizing: border-box;
  box-shadow: 0 0.25em 0.25em hsl(39, 24%, 43%);
  max-width: 460px;
}

/** Input Elements **/

.character-input p {
  margin: 0;
}

.character-input > form fieldset {
  border: 1px solid;
  margin-bottom: 4px;
}

.character-input > form label,
.character-input .button-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.character-input > form input {
  margin-left: 8px;
  width: 60%;
}

/** Statblock output **/

.statblock {
  margin: 4px auto;
  width: 100%;
}

.statblock > h1 {
  font-family: 'Libre Baskerville', 'Lora', 'Calisto MT',
  'Bookman Old Style', Bookman, 'Goudy Old Style',
  Garamond, 'Hoefler Text', 'Bitstream Charter',
  Georgia, serif;
  color: #7A200D;
  font-weight: 700;
  margin: 0px;
  font-size: 23px;
  letter-spacing: 1px;
  font-variant: small-caps;
}

.statblock > h2 {
  font-weight: normal;
  font-style: italic;
  font-size: 12px;
  margin: 0;
  color: hsl(0, 0%, 8%);
}

.header {
  display: block;
  font-size: 7pt;
  text-align: center;
}

svg {
  fill: #922610;
  /* Stroke is necessary for good antialiasing in Chrome. */
  stroke: #922610;
  margin-top: 0.6em;
  margin-bottom: 0.35em;
  width: 100%;
  height: 5px;
}

.property-line {
  line-height: 1.4;
  display: block;
  text-indent: -1em;
  padding-left: 1em;
}

.property-line > h4,
.character-input label {
  margin: 0;
  display: inline;
  font-weight: bold;
}

.property-line > p:first-of-type {
  text-indent: 0;
}

.property-line > p {
  display: inline;
  text-indent: 1em;
  margin: 0;
}

table.abilities {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
}

table.abilities th,
table.abilities td {
  width: 50px;
  text-align: center;
}

.inventory > p {
  font-style: italic;
}
